<div class='top-wrapper'>
  <div style='text-align:center' class='top-inner-text'>
    <br>
    <br>
    <%= image_tag 'logo.png', size: '658x100' %>
    <br>
    <br>
    <br>
    <h4><%= link_to '名前の色診断', new_name_diagonse_path, class: 'dropdown-item' %></h4>
    <br>
    <h4>色の名前検索</h4>
    <br>
    <h4>みんなの色</h4>
    <br>
    <br>
  </div>
</div>
