<footer id='footer' class='footer-bottom'>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-6 col-12'>
        <div class='copyright'>
          <p>共感覚パレットについて</p>
          <ul style="list-style:none">
            <p style="float:left">利用規約</p>
            <p style="float:left">よくある質問</p>
            <p style="float:left">フィードバック・ご意見</p>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>