<div class='wrapper'>
<br>
<br>
  <div style="background: #dddddd; width: 1000px; border: #dddddd; resize: both; border-radius: 20px; margin: auto; solid 2px; font-size: 100%; padding: 20px;">
  <%= image_tag 'FAQ.png', size: '437x60' %>
  <br>
  <br>
    <div style="background: #ffffff; width: 900px; border: #ffffff; resize: both; border-radius: 20px; margin: auto; solid 2px; font-size: 100%; padding: 20px;">
    <br>
    <h4>Q このサービスは無料でできますか?</h4>
    <h4>A はい、無料でご利用いただけます。</h4>
    <br>
    <br>
    <h4>Q 色診断の名前は漢字で入力は可能ですか?</h4>
    <h4>A いいえ、漢字やアルファベットは対応しておりません。</h4>
    <h4 style="text-indent: 1.0em;">現時点ではひらがなのみ対応しております。</h4>
    <br>
    <br>
    <h4>Q 新規登録をしなくても色診断はできますか?</h4>
    <h4>A はい、ご登録いただかなくても診断することができます。</h4>
    <br>
    <br>
    <h4>Q 新規登録をすると、どのようなことができますか?</h4>
    <h4>A ご登録いただくと、色の登録、他の名前の色の一覧を閲覧できます。</h4>
    <br>
    <br>
    <h4>Q 個人情報はどのように取り扱っていますか?</h4>
    <h4>A 個人情報のお取り扱いについてはプライバシーポリシーをご確認ください。</h4>
    <br>
    <br>
    <h4>Q アップデートはありますか?</h4>
    <h4>A 問題点改善やバグの修正、新機能の実装などの際など随時更新して参ります。</h4>
    <br>
    <br>
    <h4>Q よくある質問にない質問をしたい場合はどうすればいいですか?</h4>
    <h4>A 下記のお問い合わせフォームよりお問合せください。</h4>
    <h4 style="text-indent: 1.0em;">→<%= link_to 'フィードバック・ご意見', logout_path, method: :delete %></h4>
    <br>
    <br>

    </div>
  <br>
  <br>
  </div>
<br>
<br>
</div>