<% content_for(:title, t('.title')) %>
<div class="container pt-3" style='text-align:center'>
  <div class="row">
    <div class="col-md-10 offset-md-1">
    <br>
    <br>
    <%= image_tag '16.png', size: '426x50' %>
    <br>
    <br>
    <%= image_tag '17.png', size: '313x50' %>
    <br>
    <br>
    <%= image_tag '18.png', size: '460x50' %>
    <br>
    <br>
    <br>
    <br>
    <%= link_to 'トップページへ', root_path, class: 'link' %>
    </div>
  </div>
</div>