<% content_for(:title, t('.title')) %>
<div class="container">
<div class="row">
  <div class="col-lg-8 offset-lg-2">
    <br>
    <%= image_tag 'edit_color.png', size: '193x61' %>
    <br>
    <br>
    <%= render 'form', { human_name_synesthesia: @human_name_synesthesia } %>
  </div>
</div>
</div>