<div class="container pt-3">
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
    <br>
      <!-- 検索フォーム -->
      <%= render 'search_form', url: human_name_synesthesia_path %>
    </div>
  </div>
  <br>
  <!-- 掲示板一覧 -->
  <div class="row">
    <div class="col-12">
      <div class="row">
        <% if @human_name_synesthesium.present? %>
          <%= render partial: "human_name_synesthesia", collection: @human_name_synesthesium %>
        <% else %>
          <p><%= t('.no_result') %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>